@import "../mixin/mixin";
@import "../common/common";
@import "../variables";

.contact {
	padding: 95px 0;
	background: url(../../img/contact-bg.png) center no-repeat;
	background-size: cover;

	.title {
		margin-bottom: 105px;
		h1 {
			color: $color-white;
		}
	}

	.social {
		color: $color-white;

		.social-icon {
			overflow: hidden;
			margin: 43px 0 20px 0;

			li {
				float: left;

				a {
					width: 43px;
    				height: 42px;
    				background: url(../../img/social-icons.png) 0 0;
    				display: block;
    				margin-right: 20px;
				}
			}

			.s-icon2 {
				a {
					background: url(../../img/social-icons.png) -56px 0;
				}
			}
			.s-icon3 {
				a {
					background: url(../../img/social-icons.png) -110px 0
				}
			}
		}

		p {
			color: $color-dark-gray;
			margin-top: 8px;
		}
		span {
			display: block;
			color: #bface2;
			margin-bottom: 8px;

			a {
				color: #bface2;
				margin-top: 8px;
				display: block;
			}
		}
	}

	.form {
		padding-left: 15px;
		form {
			width: 100%;
			float: right;

				.group-form {
					position: relative;

				input {
					border: none;
    				background: $color-white;
    				padding: 5px 10px;
    				border-radius: 3px;
    				height: 44px;
    				width: 97%;
    				display: inline-block;
				}
		
				textarea {
					display: table-caption;
    				width: 100%;
    				margin-top: 20px;
    				height: 180px;
    				border-radius: 3px;
    				padding: 10px 15px;
    				resize: none;
				}

				&.float-clear {
					top: 5px;
				}
		
				.error {
					position: absolute;
    				left: 0;
    				top: 45px;
    				color: $color-red;

    				&.textarea {
    					top: 211px;
    				}

    				&.email {
    					left: 8px;
    				}
				}
			}
			button {
				float: right;
    			background: #49cbcd;
    			color: $color-white;
    			border: none;
    			padding: 13px 60px;
    			font-size: $font-size-lg;
    			border-radius: 4px;
    			margin-top: 33px;
    			cursor: pointer;
			}
		}
	}
}
