@import "../mixin/mixin";
@import "../common/common";
@import "../variables";

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $color-white;
	z-index: 99999;
	
	
	.logo {
		padding: 30px 0;
	}

	.nav {

		.toggle-menu {
			position: absolute;
    		top: 33px;
    		right: 20px;
    		display: none;

    		.btn-toggle {
    			border: none;
    			display: block;
    			width: 40px;
    			padding: 8px 9px 5px 9px;
    			background: #44c0c2;
    			cursor: pointer;

    			.line {
    				border-top: 2px solid #fff;
    				margin-bottom: 4px;
    				display: block;
    			}
    		}
		}

		.main-menu {
			float: right;

			li {
				float: left;

				a {
					margin: 0;
    				padding: 39px 25px;
    				display: block;
    				color: #484c55;
    				border-bottom: 3px solid transparent;
    				font-size: $font-size-st;

    				&:hover {
    					border-bottom: 3px solid #49cbcd;
    					background: #f8f9fb;
    					color: #49cbcd;
    				}
				}
			}
		}
	}
}