@import "../mixin/mixin";
@import "../common/common";
@import "../variables";

.plan {
	background: #f1f1f1;
	padding: 105px 0;

	.item {
		padding: 0 15px;
    	text-align: center;
    	color: #4e525d;

    	.content-item {
    		text-align: center;
    		background: $color-white;

    		.sub-item {
    			padding: 15px 0;
    			border-bottom: 1px solid #ecf0f1;

    			&.content {
    				background: #485460;
    				color: $color-white;
    				font-size: $font-size-xl-lg;

                    h2 {
                        font-weight: 400;
                    }
    			}

    			&.marked {
    				background: #f8f9fb;

                    strong {
                        font-size: $font-size-lg;
                        font-weight: 600;
                    }
    			}

    			&.link {
    				padding: 35px 0;
    				background: #f8f9fb;

    				a {
    					color: $color-white;
                        background: #788492;
                        font-size: $font-size-st;
                        padding: 10px 55px;
                        border-radius: 1px;
    				}
    			}
    		}
    	}
	}

    .hover {
        background: #49cbcd !important;
    }
}