<div class="banner">
	<ul class="bxslider">
  		<li>
  			<img src="img/banner.png" alt="BannerImg" />
  			<div class="description">
  				<h1>This is main a heading</h1>
  				<p>Lorem ipsum is dummy text <br> of the printing.</p>
  				<a href="#">Learn more</a>
  			</div>
  		</li>
  		<li>
  			<img src="img/banner.png" alt="BannerImg" />
  			<div class="description">
  				<h1>This is main a heading</h1>
  				<p>Lorem ipsum is dummy text <br> of the printing.</p>
  				<a href="#">Learn more</a>
  			</div>
  		</li>
  		<li>
  			<img src="img/banner.png" alt="BannerImg" />
  			<div class="description">
  				<h1>This is main a heading</h1>
  				<p>Lorem ipsum is dummy text <br> of the printing.</p>
  				<a href="#">Learn more</a>
  			</div>
  		</li>
	</ul>
</div>