<section id="contact" class="contact">
	<div class="container">
		<div class="title text-center">
			<h1>Contact Us</h1>
		</div>
		<div class="social col-sm-12 col-lg-6">
			<h3>Get in touch with us</h3>
			<p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's"</p>
			<ul class="social-icon">
				<li><a href="#"></a></li>
				<li class="s-icon2"><a href="#"></a></li>
				<li class="s-icon3"><a href="#"></a></li>
			</ul>
			<span>Posted by Dospel & GanjaParker</span>
			<span>+XX-XXXX - XXXX - XX</span>
			<span>
				<a href="mailto:orhandavidov@gmail.com">info@mail.com</a>
			</span>
		</div>
		<div class="form col-sm-12 col-lg-6">
			<form action="" name="form">
				<div class="group-form col-lg-6">
					<input type="text" class="pull-left" name="username" placeholder="Name" required="">
					<span class="error"></span>
				</div>
				<div class="group-form col-lg-6">
					<input type="email" class="pull-right" name="email" placeholder="Email" required="">
					<span class="error email"></span>
				</div>
				<div class="group-form float-clear col-sm-12">
					<textarea name="textarea" placeholder="Message"></textarea>
					<span class="error textarea"></span>
				</div>
				<button type="button" name="send">Send</button>
			</form>
		</div>
	</div>
</section>