<section id="service" class="plan">
	<div class="container">
		<div class="row">
			<div class="item col-lg-4">
				<div class="content-item">
					<div class="sub-item content">
						<h2>Basic</h2>
					</div>
					<div class="sub-item marked">
						<strong>$5.01/Month</strong>
					</div>
					<div class="sub-item">
						<span>lorem ipsum</span>
					</div>
					<div class="sub-item">
						<span>Dolor sit amet consect</span>
					</div>
					<div class="sub-item">
						<span>Adipiscing elit</span>
					</div>
					<div class="sub-item">
						<span>Proin commodo turpis</span>
					</div>
					<div class="sub-item">
						<span>lacus pulvinarvel</span>
					</div>
					<div class="sub-item">
						<span>Prnare nisi pretium</span>
					</div>
					<div class="sub-item link">
						<a href="#">Buy now</a>
					</div>
				</div>
			</div>
			<div class="item col-lg-4">
				<div class="content-item">
					<div class="sub-item content">
						<h2>Pro</h2>
					</div>
					<div class="sub-item marked">
						<strong>$5.01/Month</strong>
					</div>
					<div class="sub-item">
						<span>lorem ipsum</span>
					</div>
					<div class="sub-item">
						<span>Dolor sit amet consect</span>
					</div>
					<div class="sub-item">
						<span>Adipiscing elit</span>
					</div>
					<div class="sub-item">
						<span>Proin commodo turpis</span>
					</div>
					<div class="sub-item">
						<span>lacus pulvinarvel</span>
					</div>
					<div class="sub-item">
						<span>Prnare nisi pretium</span>
					</div>
					<div class="sub-item link">
						<a href="#">Buy now</a>
					</div>
				</div>
			</div>
			<div class="item col-lg-4">
				<div class="content-item">
					<div class="sub-item content">
						<h2>Premium</h2>
					</div>
					<div class="sub-item marked">
						<strong>$5.01/Month</strong>
					</div>
					<div class="sub-item">
						<span>lorem ipsum</span>
					</div>
					<div class="sub-item">
						<span>Dolor sit amet consect</span>
					</div>
					<div class="sub-item">
						<span>Adipiscing elit</span>
					</div>
					<div class="sub-item">
						<span>Proin commodo turpis</span>
					</div>
					<div class="sub-item">
						<span>lacus pulvinarvel</span>
					</div>
					<div class="sub-item">
						<span>Prnare nisi pretium</span>
					</div>
					<div class="sub-item link">
						<a href="#">Buy now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>