<section id="team" class="team">
	<div class="container">
		<div class="title text-center">
			<h1>The Team</h1>
		</div>
		<div class="item col-sm-12 col-md-6 col-lg-3">
			<div class="icon">
				<a href="#">
					<!-- <img src="img/icon1.png" alt="TeamIcon"> -->
				</a>
			</div>
			<h4>Narete Katerine</h4>
			<i class="position">Creative Director</i>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam similique, rerum blanditiis saepe, ad quasi, consequatur accusamus asperiores earum iste maxime mollitia reprehenderit? Pariatur ducimus omnis, illum laudantium possimus, reiciendis!</p>
		</div>
		<div class="item col-sm-12 col-md-6 col-lg-3">
			<div class="icon">
				<a href="#">
					<img src="img/icon1.png" alt="TeamIcon">
				</a>
			</div>
			<h4>Narete Katerine</h4>
			<i class="position">Creative Director</i>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laboriosam recusandae laborum ea eaque excepturi natus numquam sint aliquam ratione perspiciatis asperiores, dolor cum ipsam, officia praesentium neque ipsum ut.</p>
		</div>
		<div class="item col-sm-12 col-md-6 col-lg-3">
			<div class="icon">
				<a href="#">
					<!-- <img src="img/icon1.png" alt="TeamIcon"> -->
				</a>
			</div>
			<h4>Narete Katerine</h4>
			<i class="position">Creative Director</i>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum harum iure rerum reiciendis, tempora quos rem! Voluptatem aperiam ipsum ducimus cum error odio ab, repudiandae mollitia vitae, itaque quos nostrum.</p>
		</div>
		<div class="item col-sm-12 col-md-6 col-lg-3">
			<div class="icon">
				<a href="#">
					<!-- <img src="img/icon1.png" alt="TeamIcon"> -->
				</a>
			</div>
			<h4>Narete Katerine</h4>
			<i class="position">Creative Director</i>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam beatae, quae sunt sequi rem quasi, dolore magni dolorum blanditiis alias veritatis nesciunt eos error sapiente voluptatibus quaerat totam recusandae ex!</p>
		</div>
	</div>
</section>